body { 
    font-family: Arial, sans-serif; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #1e1e76; 
} 
.container { 
    background-color: #707ff5; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    text-align: center; 
} 
input[type="password"] { 
    padding: 10px; 
    margin-bottom: 10px; 
    width: calc(100% - 22px); 
    border: 1px solid #ccc; 
    border-radius: 4px; 
} 
button { 
    padding: 10px 20px; 
    color: #1e1e76; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    margin-top: 10px;
    margin-bottom: 20px; 
} 
button:disabled { 
    background-color:  #a195f9; 
} 
.message { 
    margin-top: 10px; color: red; 
}
.audio-controls { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-top: 10px; 
} 
.progress-bar { 
    flex: 1;
    margin: 0 10px; 
} 
